.stroke {
    stroke-width: 1px;
    stroke: white;
    fill: none;
}

.fill {
    stroke: none;
    fill: white;
}

body {
    background-color: black;
    margin: 0px;
}

.app {
    position: absolute;
}

svg {
    border: 1px solid white;
}

.text {
    fill: #FFF;
    alignment-baseline: hanging;
    font-family: "Consolas", "Monaco", monospace;
}

.text-center {
    stroke: #000;
    stroke-width: 1px;
    fill: #FFF;
    alignment-baseline: middle;
    text-anchor: middle;
    font-family: sans-serif;
}
