.stroke {
    stroke-width: 1px;
    stroke: white;
    fill: none;
}

.fill {
    stroke: none;
    fill: white;
}

body {
    background-color: black;
    margin: 0px;
}

.game {
    position: absolute;
    touch-action: manipulation;
}

svg {
    border: 1px solid white;
    cursor: pointer;
}

.text {
    stroke: #000;
    stroke-width: 1px;
    fill: #FFF;
    dominant-baseline: hanging;
    font-family: "Consolas", "Monaco", monospace;
}

.text-center {
    stroke: #000;
    stroke-width: 1px;
    fill: #FFF;
    dominant-baseline: middle;
    text-anchor: middle;
    font-family: sans-serif;
}

.numerator {
    stroke: #000;
    stroke-width: 1px;
    fill: #FFF;
    opacity: 0.8;
    dominant-baseline: baseline;
    text-anchor: middle;
    font-family: sans-serif;
}

.denominator {
    stroke: #000;
    stroke-width: 1px;
    fill: #FFF;
    opacity: 0.5;
    dominant-baseline: hanging;
    text-anchor: middle;
    font-family: sans-serif;
}

.rotate-center {
    transform-box: fill-box;
    transform-origin: center;
}
