.stroke {
    stroke-width: 0.02px;
    stroke: white;
    fill: none;
}

.fill {
    stroke: none;
    fill: white;
}

body {
    background-color: black;
    margin: 0px;
}

svg {
    cursor: pointer;
    position: absolute;
    touch-action: manipulation;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    stroke: #000;
    stroke-width: 0.01px;
    fill: #FFF;
    dominant-baseline: hanging;
    font-family: "Consolas", "Monaco", monospace;
}

.grade {
    fill: #FFF;
    dominant-baseline: baseline;
    font-weight: bold;
    opacity: 0.7;
    font-family: "Consolas", "Monaco", monospace;
}

.text-center {
    stroke: #000;
    stroke-width: 0.01px;
    fill: #FFF;
    dominant-baseline: middle;
    text-anchor: middle;
    font-family: sans-serif;
}

.numerator {
    fill: #FFF;
    opacity: 0.8;
    dominant-baseline: baseline;
    text-anchor: middle;
    font-family: sans-serif;
}

.denominator {
    fill: #FFF;
    opacity: 0.5;
    dominant-baseline: hanging;
    text-anchor: middle;
    font-family: sans-serif;
}

.rotate-center {
    transform-box: fill-box;
    transform-origin: center;
}

.app {
    text-align: center;
    color: #FFFFFF;
    font-size: 200%;
}

.app a {
    color: rgba(255, 255, 255, 0.8);
}
